    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top landing-navbar landing-navbar-diary home-nav" style="border:none;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" id="logo" href="/browse/"><span class="hidden-xs"><span style="color:#a3ef9c; font-weight:lighter">Deen</span><b>Trek</b></span><span class="visible-xs">DT<sup><small>beta</small></sup></span></a> -->
                <a class="navbar-brand page-scroll navbar-brand-diary" id="logo" href="/diary"><span style="font-weight:lighter">Deen</span><b>Diary</b></a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">    
                    <li>
                        <a id="reflect-tab" class="page-scroll nav-links" href="/diary/reflect/1/1">Reflect</a>
                    </li>
                    <li>
                        <a id="find-tab" class="page-scroll nav-links" href="/diary/find/">Find</a>
                    </li>
                    <li>
                        <a id="read-tab" class="page-scroll nav-links" href="/diary/read/1/1">Read</a>
                    </li>
                    <li>
                        <a class="page-scroll nav-links" target="_blank" href="https://www.facebook.com/DeenTrek"><span class="hidden-xs " ><i class="fa fa-facebook fa-lg"></i>&nbsp;&nbsp;&nbsp;</span><span class="visible-xs ">Facebook</span></a>
                    </li>
<!--                     <li>
                        <a class="page-scroll nav-links" href="#port">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll nav-links" href="#contact">Contact</a>
                    </li>
 -->                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
