<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="http://www.deentrek.com/static/img/thumbnail.png"/>

    <title>DeenTrek | Uplifting Islamic Content</title>

    {%include 'css.html'%}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52040224-2', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top landing-navbar home-nav" style="border:none;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="background-color: #00A551; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color: #F2F4F3"></span>
                    <span class="icon-bar" style="background-color: #F2F4F3"></span>
                    <span class="icon-bar" style="background-color: #F2F4F3"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" id="logo" href="/browse/"><span class="hidden-xs"><span style="color:#a3ef9c; font-weight:lighter">Deen</span><b>Trek</b></span><span class="visible-xs">DT<sup><small>beta</small></sup></span></a> -->
                <a class="navbar-brand page-scroll" id="logo" href="/"><span style="color:#a3ef9c; font-weight:lighter">Deen</span><b>Trek</b></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">	
                    <li>
                        <a class="page-scroll nav-links" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll nav-links" href="#one-liner">About</a>
                    </li>
                    <li>
                        <a class="page-scroll nav-links" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll nav-links" target="_blank" href="https://www.facebook.com/DeenTrek"><span class="hidden-xs " ><i class="fa fa-facebook fa-lg"></i>&nbsp;&nbsp;&nbsp;</span><span class="visible-xs ">Facebook</span></a>
                    </li>
                    <li>
                        <a class="page-scroll nav-links" href="/browse/">LET'S TREK!</a>
                    </li>
<!--                     <li>
                        <a class="page-scroll nav-links" href="#port">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll nav-links" href="#contact">Contact</a>
                    </li>
 -->                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <img src="/static/img/butterfly.gif" class="butterfly">

    <header class="pagescroll" id="home" style="margin-bottom:-55px; margin-top:0px; position:relative; top:-55px">
        <div class="header-content">
          
            <div class="header-content-inner" style="margin-top:-50px">
                <h1 class="homepage-h1 fade-text">Welcome to<br>DeenTrek<sup><span class="beta" style="letter-spacing:0px">beta</span></sup></h1>
                <hr class="homepage-hr" style="margin-top:20px !important; margin-bottom:20px !important;">
                <p class="homepage-p fade-text" style="color:#FFF">Start browsing the most uplifting and inspiring Islamic content on the web. <br class="hidden-xs hidden-sm">As you browse, we recommend the most relevant and beneficial pages and videos.</p>
                <a href="/browse/" class="btn btn-primary btn-xl page-scroll homepage-button">Start Now</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="one-liner">
        <div class="container">
            <div class="row">
                <p class="text-faded medium-fade one-liner-text" style="line-height: 19px">DeenTrek is a way to discover new Islamic content without the hassle of searching for specific topics. It lets you browse the web in a completely new light.</p>
            </div>
            
        </div>
    </section>



    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">

                <div class="about-all">
                    <h2 class="about-heading-mobile" style="letter-spacing: -1px; font-size: 9vw; line-height: 20px; margin-bottom: -20px">So... What is DeenTrek?</h2>

                    <p class="text-faded medium-fade about-text" style="text-align:center; margin-bottom:0px; padding-bottom:40px; line-height:19px">Imagine a huge range of Islamic content from all over the Internet – videos, articles, quranic translations - <span class="unfade">all in one place.</span> All you have to do is press <span class="unfade"><i class="fa fa-refresh"></i> Next</span> and we take you to something interesting. Like what you see? Give it a <span class="unfade">thumbs up</span> and we will learn your style to recommend even better content for you.</p>
                </div>
            </div>

            

            <div class="row">

                <div class="about-all">
                    <h2 class="about-heading-mobile" style="letter-spacing: -1px; line-height: 20px; margin-bottom: -20px">How is it different?</h2>
                    

                    <img class="why-image"  src="/static/img/whytrans.png" >


                </div>
            </div>

        </div>
    </section>

    <hr class="section-break">

    <section class="bg-primary" id="howto">
        <div class="container">
            <div class="row">

                <div class="howto-all">
                    <h2 class="howto-heading" style="letter-spacing: -2px; line-height: 7vw; margin-bottom: 0"><span style="font-size: 14vw">Awesome!</span><br><span style="font-size:9vw">How do I use it?</span></h2>
                    <p class="about-text easy-text" style="margin-top:5vw; padding-bottom:15px;"><b>Easy as 1, 2...</b></p>

                    <table style="width:100%">
                        <tr>
                            <td>
                                <h1 class="pull-left howto-numbers" style="font-size: 30vw !important">1</h1>
                            </td>
                            <td>
                                <img style="height: 60vh" src="/static/img/mobile-howto.png" >
                            </td>
                        </tr>
                    </table>

<!--
                    <h1 class="pull-left howto-numbers" style="font-size: 30vw !important">1</h1>
                    <img style="height: 60vh" src="/static/img/mobile-howto.png" >
-->
                </div>
            </div>

            

            <div class="row">

                <div class="howto-all">


                    <table style="width:100%">
                        <tr>
                            <td>
                                <h1 class="pull-left howto-numbers" style="font-size: 30vw !important">2</h1>
                            </td>
                            <td style="padding-left:20px" >
                                <p class="howto-text" style="padding-left:0px; margin-left: 0px; margin-top:25px; margin-bottom: 0px">Suggest your favourite pages to us, to recommend them to the world.</p>
                                <div class="home-submit-form" style="margin-left: 0px">
                                <form method="POST" action="/home-submit/">
                                    {%csrf_token%}
                                    <row styl=>
                                        <input required class="howto-submit-textbox pull-left" style="width:100%" type="text" placeholder="Paste URL here..." id="submit-url" name="submit-url">
                                        
                                          <button type="submit" style="margin-top:5px; width: 30vw" class="btn btn-default howto-button">Submit</button>
                                        
                                    </row>  
                                </form>
                        </div>
                            </td>
                        </tr>
                    </table>




                    <!-- </div> -->


                </div>
            </div>

        </div>
    </section>

    <section class="bg-primary" id="lets-trek">
        <div class="container">
            <div class="row">
                <div class="howto-all">
                    <h2 class="lets-trek-heading">Ready?</h2>
                   
                </div>
            </div>
            <div class="row">
               <a href="/browse/" class="btn btn-primary btn-xl page-scroll homepage-button" style="font-size:40px !important;">Let's Trek!</a>
            </div>

        </div>
    </section>


    <section class="bg-primary" id="contact">
        <div class="container">
            <div class="row">
                <h2 class="contact-heading" >Leave us a message...</h2>
            </div>
            <div class="row" >
                <form action="/" method="post">
                {% csrf_token %}
                    <ul class="ContactList" id="contact" style="padding-left: 0px;">
                        <li class="form-group col-md-6" id="name">{{ form.full_name }}</li>
                        <li class="form-group col-md-6" id="email">{{ form.email }}</li>
                        <li class="form-group col-md-12" id="subject">{{ form.subject }}</li>
                        <li class="form-group col-md-12" id="message">{{ form.message }}</li>
                        <center>
                            <li class="form-group" id="submit-button">
                                <input class="form-group btn btn-primary btn-xl page-scroll homepage-button" id="submit-btn" type="submit" value="Submit" />
                            </li>
                        </center>
                    </ul>
                </form>
            </div>
        </div>
    </section>

    
    



<!-- 
    <section class="bg-primary" id="howto">
        <div class="container">
            <div class="row">

                <div class="howto-all">
                    <h2 class="howto-heading">How to use</h2>
                    <p class="text-faded medium-fade howto-text">Place image here of the /browse/ navbar and annotate</p>
                </div>
            </div>
        </div>
    </section>

 -->    <!-- <section class="no-padding" id="port">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="static/img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    
 -->
 <!--    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 txet-center"><center>
                    <h2 class="section-heading">Questions or Suggestions? Get in Touch.</h2></center>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section> -->

{%include 'js.html'%}

<script>

function ClipBoard(element) {
  $("body").append("<input type='text' id='temp' style='position:absolute;opacity:0;'>");
  $("#temp").val('javascript:window.location.href="http://deentrek.com/addurl/"+window.location.href').select();
  document.execCommand("copy");
  $("#temp").remove();
}



</script>

<div id="preload-img">
</div>

</body>

</html>
