<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <META NAME="ROBOTS" CONTENT="NOINDEX">

    <title>DeenTrek</title>

    <link href={% static "css/landing.css"%} rel="stylesheet">
    

</head>
<link href={% static "css/bootstrap.min.css"%} rel="stylesheet">
<body>



<h1 style="font-family:'OpenSans'; font-weight: bold;padding:10px; text-align: center;">Stumbles: {{stumbles}} </h1>

<h1 style="font-family:'OpenSans'; font-weight: bold;padding:10px; text-align: center;">Upvotes: {{upvotes}} </h1>

<h1 style="font-family:'OpenSans'; font-weight: bold;padding:10px; text-align: center;">Downvotes: {{downvotes}} </h1>

</html>
